a {
    text-decoration: none;
    color: white;
}
body {
    background: rgb(0, 0, 0);
    padding: none;
    height: 900px;
    margin: auto;
    width: 1300px;
    border-bottom: 5px solid rgb(0, 0, 0);
    border-top: 5px solid rgb(0, 0, 0);
}
.bread{
    background-image: url("images/Dimensions2.jpg");
    background-repeat: no-repeat;
    background-size: 30%;
    background-position: center;
    height: 700px;
    margin: auto;
    display: flex;
    flex-direction: row;
    color: rgb(0, 0, 0);
    
}
.bread2{
   /* background-image: url("images/Spot.jpg");*/
    background-image: url("gifs/TheSpot.gif");
    background-repeat: no-repeat;
    background-size: 80%;
    border-radius: 250%;
    background-position: center;
    height: 700px;
    margin: auto;
    display: flex;
    flex-direction: row;
    color: rgb(0, 0, 0);

}
.column {
    padding: 10px;
  }
.Division1{
background-color: rgb(0, 0, 0);
border-bottom: 5px solid rgb(255, 111, 255);
padding: 10px;
height: 150px;
margin: auto;
text-align: left;
}
div {
    background: rgb(0, 51, 255);
    display: inline-block;
    color: white;
    margin: auto; 
    display: flex;
    border-radius: 3px;
    flex-direction: row;
    padding: 20px;
}
.features{
    border:5px solid rgb(255, 111, 255);
    background-color: rgb(0, 0, 0);
    color: rgb(0, 0, 0);
    margin: auto;
    
}
.features figure{
    text-decoration: none;
    background-color: transparent;
    color: #ffffff;
    list-style-type: none;
    text-align: center;
    text-transform: uppercase;
    width: 200px;
}
.features a:hover{
    color: rgb(100, 86, 251);
}
.features img:hover {
    background-size: 220%;
    background-position: center;
    border-radius: 100%;
    height: 260px;
    width: 230px;
}
.features a:link {
    color: rgb(255, 255, 255);
    background-color: transparent;
    text-decoration: none;
  }
.features figure img{
    display: inline-block;
    box-shadow: rgb(94, 7, 123) 0 0 10px;
    height: 210px;
    width: 180px;
    border-radius: 100%;    
}
footer {
    background: rgb(0, 0, 0);
    padding: 5px 50px;
    color: white;
    text-align: center;
    border: 5px solid rgb(255, 111, 255);
    border-top: 5px solid rgb(0, 0, 0);
    border-bottom: 5px solid rgb(0, 0, 0);
}
h1 {
    padding: 100px;
}
header{
    height: 10px;
}
.HomeGif  {
    background: rgb(0, 0, 0);
    background-image: url("gifs/falling.gif");
    background-repeat: no-repeat;
    border-radius: 1px;
    border: 5px solid rgb(255, 111, 255);
    background-size: 100%;
    background-position: center;
    color: white;
    height: 460px;
    margin: auto;
    padding: 0px;
    text-align: center; 
}
header .a {
    text-transform: uppercase;
}
header.figure{
    border: 5px solid rgb(255, 111, 255);
    height: auto;
    width: auto;
}
.row {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
  
strong {
    margin: auto;
    padding: 10px;
    text-align: center;
    font-size: xx-large;
}
section .logo img{
    background-size: 200%;
    display: inline-block;
    box-shadow: rgb(92, 89, 92) 0 0 10px;
    height: 100px;
    width: 100px;
    border-radius: 100%; 
    transform: scale(1);
}
section .logo img:hover{
    background-size: 100%;
    background-position: center;
    border-radius: 100%;
    color: rgb(255, 255, 255);
    height: 150px;
    width: 150px;
}
li {
    display: ruby-base;
    margin: auto;
    padding-left: 50px;
    padding-right: 50px;
    text-align: center;
    text-decoration-color: aqua;
    border-right: 50px solid rgb(255, 111, 255);
}
li a:hover {
    color: rgb(100, 86, 251);
}
ul {
    font-size: 30px;
    padding: none;
    list-style-type: none;
    display: inline-block;
    color: rgb(255, 255, 255);
}
ul .logo {
    color: rgb(0, 0, 0);
    border-right: 50px solid rgb(0, 0, 0);
    display: flex;
    flex-direction: row;
    text-align: left;
}
ul .logo:hover{ 
    color: rgb(255, 255, 255);
}



