a {
    text-decoration: none;
}
body {
    background: rgb(0, 0, 0);
    padding: 0;
    height: 700px;
    margin: auto;
}
.bread{
    background: rgb(0, 0, 0);
    background-image: url("images/Portal.jpg");
    background-repeat: no-repeat;
    background-size: 90%;
    background-position: center;
    height: 700px;
    padding: none;
    margin: auto;
    display: flex;
    flex-direction: row;
    color: rgb(0, 0, 0);
}
.bread2{
    background: rgb(0, 0, 0);
    background-image: url("images/Spot.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    height: 900px;
    margin: 100px 100px;
    padding: 100px;
    display: flex; 
    flex-direction: row;
    color: rgb(0, 0, 0);
    width: 700px;
}
.Division1{
background-color: rgb(0, 0, 0);
padding: 10px;
height: 100px;
margin: auto;
text-align: center;
}
div {
    background: rgb(0, 51, 255);
    border-radius: 5px;
    display: inline-block;
    color: white;
    margin: auto; 
    display: flex;
    border-radius: 3px;
    flex-direction: row;
    padding: 20px;
}
.features{
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    margin: auto;
    
}
.features figure{
    background-color: rgb(255, 255, 255);
    list-style-type: none;
    text-align: center;
    width: 200px;
    text-transform: uppercase;
}
.features figure img{
    border: 1px solid rgb(0, 0, 0);
    box-shadow: rgb(79, 79, 79) 0 0 10px;
    width: 200px;
    border-radius: 50%;
}
footer {
    background: rgb(0, 0, 0);
    padding: 20px 20px;
    color: white;
    text-align: center;
}
h1 {
    padding: 100px;
}
header {
    background: rgb(0, 0, 0);
    background-image: url("images/Miles.jpg");
    background-repeat: no-repeat;
    border-radius: 30px;
    background-size: 100%;
    background-position: center;
    color: white;
    height: 400px;
    margin: 10px;
    padding: 10px;
    text-align: center;
}
header .a {
    text-transform: uppercase;
}
header .logo a{
    background-image: url("images/Hobbie.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    border-radius: 30px;
    top: -20px;
    position: relative;
    height: 100px;
    width: 100px;
    text-indent: -999999999999px;
    display: inline-block;
}
li {
    display: inline-block;
    margin-left: 10px; 
    text-decoration-color: aqua;
    text-size-adjust: 100px;
}
li:hover {
    border-radius: 3px;
}

ul {
    font-size: 30px;
    padding: none;
    list-style-type: none;
    display: inline-block;
    color: rgb(255, 255, 255);
}


